@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

.inicio__fondo {
  background-image: url(/Img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
}

.bg-skin {
  background-color: rgba(234, 143, 119, 0.7);
}

.text-center {
  text-align: center;
}

.font-bg {
  font-size: 5rem;
  text-decoration: none;
}

.bg-name {
  background-color: rgb(252, 130, 151);
}

.bg-email {
  background-color: rgb(219, 106, 125);
}

.bg-tel {
  background-color: rgb(170, 85, 99);
}

.bg-msj {
  background-color: rgb(128, 64, 75);
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: auto;
  background-color: rgba(234, 143, 119, 0.7);
}
.nav__img {
  margin: 5px;
}
.nav__lista {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
.nav__items {
  display: inline-block;
  margin-right: 10px;
}
.nav__items--color {
  margin: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}
.nav__items--color:hover {
  color: rgba(202, 19, 187, 0.63);
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.19);
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}
.main__tittle {
  margin: 5px 20px 20px 20px;
  padding: 20px;
}
.main__texto--md {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  margin: 20px 30px 50px 20px;
  padding: 20px;
}
.main__subtexto-md {
  width: 50%;
  height: auto;
  margin: 20px;
  padding: 20px;
  display: block;
  position: relative;
  left: 22.2%;
  font-weight: 600;
}
.main__encabezado {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3rem;
  line-height: 1rem;
  color: rgb(255, 0, 0);
}
.main__subtitulo {
  display: inline-block;
  width: 80%;
  height: auto;
  margin: 15px;
  padding: 15px;
  font-size: 3rem;
}
.main__presentación {
  font-size: 2rem;
  color: rgb(255, 0, 0);
  height: 12vh;
  padding: 20px;
}
.main__img--center, .main__cardtext {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main__img--md {
  width: 30vw;
  padding: 10px;
}
.main__img--bg {
  display: inline-block;
  width: 50%;
  height: auto;
  margin: 15px;
  padding: 20px;
}
.main__view {
  overflow: hidden;
}
.main__cardimg--md {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  flex: 0 1 calc(20% - 1rem);
}
.main__cardtext {
  margin: 20px;
  padding: 30px;
  font-size: 2rem;
}

.carousel {
  width: 100%;
  height: auto;
  margin: 0px 0px 10px 0px;
}

.body {
  display: flex;
  height: 70vh;
}

.header__titulo {
  display: inline-block;
  align-items: center;
  height: auto;
  margin: 20px;
  padding: 10px;
  font-size: 5rem;
  text-decoration: underline;
}
.header__titulo__img {
  display: flex;
  justify-content: center;
}

.header__form {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  width: 100%;
  margin: 20px 0px;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  height: 100%;
  color: rgb(255, 0, 0);
}

.section__div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
}

.section__form {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.text-border {
  margin: 15px 30px;
  padding: 10px;
  border: 1px rgba(202, 19, 187, 0.63) outset;
  font-size: 2rem;
  color: rgb(255, 0, 0);
}

.text-medium {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1rem;
  margin: 10px;
  padding: 10px;
}

.grid {
  display: grid;
  align-items: center;
  width: 100vw;
}

.barra {
  grid-area: nav;
}

.header {
  grid-area: header;
}

.centro {
  grid-area: main;
}

.pie {
  grid-area: footer;
}

.card-space {
  padding: 5px;
}

.container-boton {
  background-color: rgba(8, 245, 8, 0.815);
  border: 1px solid rgb(255, 255, 255);
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 16px;
  transition: ease 0.3s;
  -webkit-animation: efecto 1.2s infinite;
          animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.boton {
  width: 80px;
  transition: ease 1s;
}

@-webkit-keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
.btn {
  background-color: pink;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  color: rgba(202, 19, 187, 0.63);
  transform: translate(-20px, 10px);
}

.btn__form {
  background-color: pink;
  border: none;
  padding: 5px;
  margin: 10px 0px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn__form:hover {
  transform: translate(-20px, 10px);
}

.btn-center {
  background-color: pink;
  border: none;
  color: rgb(255, 255, 255);
  margin: 50px;
  padding: 20px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-center:hover {
  color: rgba(202, 19, 187, 0.63);
  transform: translate(-20px, 10px);
}

.btncenter-green {
  background-color: rgba(8, 245, 8, 0.815);
  border: none;
  color: rgb(255, 255, 255);
  margin: 50px;
  padding: 20px;
  border-radius: 50px;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btncenter-green:hover {
  color: rgba(0, 0, 0, 0.671);
}

.footer {
  display: flex;
  width: 95vw;
  margin: 40px 0px 0px 20px;
  flex-direction: row;
}
.footer__img {
  border-style: groove;
  border-color: pink;
  width: 35px;
  height: auto;
  margin: 5px;
  padding: 3px;
}

.grid {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto;
  gap: 0;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main__img--md {
  display: flex;
  width: 90%;
  height: 100%;
  padding: 10px;
}
.main__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
  font-size: 2rem;
}
.main__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 1 calc(50% - 1em);
}
.main__cardimg--md {
  align-items: center;
}
.main__cardtittle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 10vw;
  font-size: 3rem;
}
.main__img--fluid {
  width: 50%;
}
.galeria {
  width: 98vw;
  margin: auto;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 5px;
}
.section__img {
  width: 100%;
}
.article {
  display: flex;
  justify-content: center;
}
.article:hover {
  transform: scale(1.2);
}

.section__div {
  display: none;
}
.main__article2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  height: 100%;
}
.body {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 30px;
  height: 70vh;
}
.grid {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 11vh 70vh 19vh auto;
  gap: 0;
}
.main__img--md {
  display: none;
  width: 30vw;
  padding: 10px;
}
.main__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
  font-size: 2rem;
}
.main__div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main__div2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.main_card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 1 calc(50% - 1em);
}
.main__cardtittle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 27vw;
  font-size: 3rem;
}
.main__img--fluid {
  width: 100%;
}
.galeria {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
  width: 98vw;
  margin: auto;
}
.Section__img {
  width: 20vw;
}
.article {
  display: flex;
  justify-content: center;
}
.article:hover {
  transform: scale(1.2);
}

.section__div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
  height: 57vh;
}
.main__article2 {
  display: none;
}/*# sourceMappingURL=main.css.map */