@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 50%;
}

/* Empieza barra de navegacion */
.nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(234,143,119,0.7);
}

.bg-skin{
    background-color: rgb(234,143,119,0.7);
}

.nav__lista{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
        
.nav__items{
    display: inline-block;
    margin-right: 10px;
}

.nav__items--color{
    margin: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
} 

.nav__items--color:hover{
    color: rgba(202, 19, 187, 0.63);
    text-decoration: none;
}

.logo{
    margin: 5px;
}

/*termina barra de navegacion */


.inicio__fondo{
    background-image: url(/Img/background.jpg); 
    background-repeat: no-repeat;
    background-attachment:inherit;
}

.header{
    width: 100%;
}

.carousel{
    width: 100%; 
    height: auto;
    margin: 0px 0px 10px 0px;
}

.body{
    display: flex;
    height: 70vh;
}

.header__titulo{
    height: auto;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    align-items: center;
    font-size: 2.5rem;
    text-decoration: underline;
}

.header__img{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    width: 100%;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.87);
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.main__tittle{
    margin: 5px 20px 20px 20px;
    padding: 20px;
}

.main__texto--md{
    width: 50%;
    height: auto;
    margin: 20px 30px 50px 20px;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.text-pink{
    color: pink;
}

.bg-pink{
    background-color: hotpink;
}

.main__subtexto--md{
    width: 50%;
    height: auto;
    margin: 20px;
    padding: 20px;
    display: block;
    position: relative;
    left: 22.2%;
    font-weight: bold;
}

.main__encabezado{
    width: 80%;
    display: flex;
    line-height: 1em;
    justify-content: center;
    color: rgb(255, 220, 220);
}


.main__subtitulo{
    width: 80%;
    height: auto;
    margin: 15px;
    padding: 15px;
    display: inline-block;
    font-size: 3rem;
}

.main__presentación{
    height: 12vh;
    padding: 20px;
    color: rgb(255, 220, 220);
}

.main__img--center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__img--md{
    width: 30vw;
    padding: 10px;
}

.main__img--bg{
    width: 50%;
    height: auto;
    margin: 15px;
    padding: 20px;
    display: inline-block;
}

.main__view{
    overflow: hidden;
}

.card-space{
    padding: 5px;
}

.card-font{
    margin: 10px;
    font-size: 2rem;
}

.main__cardimg--md{  
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 calc(20% - 1em);
}

.main__cardtext{
    margin: 20px;
    padding: 30px;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section__card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section__div{
    display: flex;
    width: 98vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section__form{
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
}

.header__form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100%;
    margin: 30px 0px;
    font-size: 3rem;
}

/* Empieza botones */

/* Empieza botones */


.button{
    background-color: pink;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.btn__form{
    background-color: pink;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn__form:hover{
    transform: translate(-20px, 10px);
}

.btn-center{
    background-color: pink;
    border: none;
    color: white;
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-center:hover{
    color: rgb(202, 19, 187, 0.63);
    transform: translate(-20px, 10px);
}

.btncenter-green{
    background-color: rgba(8, 245, 8, 0.815);
    border: none;
    color: white;
    margin: 50px;
    padding: 15px;
    border-radius:50px;
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btncenter-greeen:hover{
    color: rgba(0, 0, 0, 0.671);
}

.container-boton{
    background-color: rgba(8, 245, 8, 0.815);
    border: 1px solid white;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 7px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


/* Termina botones */

/* Footer */

.footer{
    display: flex;
    width: 95vw;
    margin: 40px 0px 0px 20px;
    flex-direction: row;
}

.footer__icon--sm{
    border-style:groove;
    border-color: rgb(255, 182, 193);
    width: 35px;
    height: auto;
    margin: 5px;
    padding: 5px;
}

/* Termina Footer */


.text-center{
    text-align: center;
}

.text-border{
    margin: 15px 30px;
    padding: 10px;
    border: 1px rgba(170, 13, 170, 0.63) outset;
}

.text-medium{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1em;
    margin: 10px;
    padding: 10px;
}

.font-bg{
    font-size: 5rem;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row;
}

.grid{
    display: grid;
    align-items: center;
    width: 100vw;
}

.barra{
    grid-area: nav;
}

.header{
    grid-area: header;
}

.centro{
    grid-area: main;
}

.pie{
    grid-area: footer;
}

@media (min-width:320px){
    /* empieza index */

    .grid{
        grid-template-columns: 1, 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav"
        "main"
        "header"
        "footer";
    }

    .body{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main__img--md{
        display: flex;
        width: 90%;
        height: 100%;
        padding: 10px;
    }

    /* termina index */

    /* empieza nosotros */
    
    .main__article{
        margin: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    
    .main__div{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .main__div2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__img--center{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
  
    /* Termina nosotros */

    /* empieza animaciones y shows */

    .main__card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 0 1 calc(50% - 1em);  
    }

    .main__cardimg--md{
        align-items: center;
    }

    .main__cardtittle{ 
        width: 10vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-size: 3rem;
    }
    
    .main__img--fluid{
        width: 50%;
    }

    /* termina animaciones y shows */

    /* Empieza Galeria */

    .galeria{
        width: 98vw;
        margin: auto;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2,1fr);
    }

    .Section__img{
        width: 100%;
    }

    .article{
        display: flex;
        justify-content: center;
    }

    .article:hover{
        transform: scale(1.2);
    }
    
    /* Termina Galeria */

    /* empieza contactanos */

    .section__div{
        display: none;
    }

    .main__article2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:768px){
    .body{
        display: flex;
        flex-direction: column;
        margin: 20px 30px;
        height: 100%; 
    }

    /* empieza nosotros */
    .main__img--center{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
    }
    /* termina nosotros */
}



@media (min-width:900px){
    /* empieza index */
    
    .body{
        display: flex;
        margin: 20px 30px;
        height: 70vh;
        flex-direction: row-reverse;
    }

    .grid{
        grid-template-columns: auto;
        grid-template-rows: 11vh 70vh 19vh;
        grid-template-areas: 
        "nav nav nav"
        "main main header"
        "footer footer footer";
    }

    .main__img--md{
        display: none;
        width: 30vw;
        padding: 10px;
    }
    
    /* termina index */

    /* Empieza nosotros */
    
    .main__article{
        margin: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .main__div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main__div2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .main__img--center{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
    }
    
    /* Termina nosotros */

    /* empieza animaciones y shows */

    .main__card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 0 1 calc(50% - 1em);  
    }

    .main__cardtittle{ 
        width: 27vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-size: 3rem;
    }

    .main__img--fluid{
        width: 100%;
    }

    /* termina animaciones y shows */

    /* Empieza Galeria */

    .galeria{
        width: 98vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    
    .Section__img{
        width: 20vw;
    }
    
    .article{
        display: flex;
        justify-content: center;
    }

    .article:hover{
        transform: scale(1.2);
    }
        
    /* Termina Galeria */

    /* empieza contactanos */

    .section__div{
        display: flex;
        width: 98vw;
        height: 57vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .main__article2{
        display: none;
    }

    /* termina contactanos */
}
