* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
  }

//vars esquema de colores
$mainColor:rgb(234,143,119,0.7);
$secundaryColor:pink;
$keyColor:rgba(202, 19, 187, 0.63);
$white:rgb(255,255,255);
$hPink:hotpink;
$tColor:rgb(255, 220, 220);
$eBlue:rgb(134, 217, 250);
$bGreen:rgba(8, 245, 8, 0.815);
$bBlacks:rgba(0,0,0,0.2);
$bDark:rgba(0,0,0,0.19);
$dDark:rgba(0, 0, 0, 0.87);
$name: rgb(252, 130, 151);
$email:rgb(219, 106, 125);
$tel:rgb(170, 85, 99);
$msj:rgb(128, 64, 75);

//vars media
$mobile:320px;
$tablet:768px;
$desktop:900px;

.inicio__fondo{
    background-image: url(../Img/background.jpg); 
    background-repeat: no-repeat;
    background-attachment:inherit;
}

.bg-skin{
  background-color: $mainColor;
}

.text-pink{
  color: $secundaryColor;
}

.text-color{
  color: $tColor;
}


