//fonts google
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Roboto:wght@300;400&display=swap');
$mainFont:'Roboto', sans-serif;
$secundaryFont:'Montserrat', sans-serif;

//sizings
$textSsm:1rem;
$textSm:2rem;
$textMd:3rem;
$textLg:5rem;

//font
$textBold:600;
$textRegular:400;
$textThin:200;

.text-center{
    text-align: center;
}

.font-bg{
    font-size: $textLg;
    text-decoration: none;
}

