header{
    text-align: center;
        h1{
            height: auto;
            margin: 20px;
            padding: 10px;
            display: inline-block;
            align-items: center;
            font-size: 3rem;
            text-decoration: underline;
        }
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    color: $bDark;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 3rem;
    align-items: center;
    justify-content: center;
    
        p{
            margin: 15px 30px;
            padding: 10px;
            border: 1px $keyColor outset;
            text-align: center;
        }
}


.galeria {
	width: 98vw;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4,1fr);
}
.Section__img {
	width: 20vw;
}
.article {
	display: flex;
	justify-content: center;
	&:hover {
		transform: scale(1.2);
	}
}